body {
    background-color: #f0f8ff;
}

/* h1 start */
header h1 {
    font-size: 50px;
    color: #ecf0f1;
    background-color: #2c3e50;
    border: #2c3e50 2px solid;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* h1 end */
/* nav start */
header div {
    font-size: 20px;
    color: #ecf0f1;
    background-color: #34495e;
    border: #2c3e50 2px solid;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

header h2 {
    font-size: 50px;
    color: #ecf0f1;
    background-color: #2c3e50;
    border: #2c3e50 2px solid;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

header i {
    margin-right: 5px;
}

header a {
    color: #ecf0f1;
    margin-right: 20px;
    text-decoration: none;
}

header a:hover {
    color: #3498db;
}

/* nav end */
/* section start */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

table {
    width: 80%;
    margin-left: 150px;
}

th {
    border: 2px solid #2c3e50;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    color: #333;
    background-color: #34495e;
    color: #ecf0f1;
}

td {
    border: 2px solid #2c3e50;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    color: #ecf0f1;
    background-color: #34495e;
}

td img {
    max-width: 150px;
    max-height: 150px;
    object-fit: cover;
    display: block;
    margin-left: auto;
}

/* section end */
/* footer start */
footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: #2c3e50 2px solid;
}

/* footer end */